// device width
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colours
$primary-colour: #ff5311;
$why-black: #0a0a0a;
$why-light-background-colour: #e0e1e5;
$why-dark-background-colour: #191a1f;
$why-light-card: #ffffff;
$why-dark-card: #fafafa;

// spacing
$mobile-spacing: 1rem;
$mobile-spacing-top: 1.5rem;
$mobile-spacing-side: 1rem;
